.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1440px;
  height: 40px;
  background: rgb(42, 43, 44);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

.nav h2 {
  font-weight: bold;
  margin-right: auto;
  margin-left: 10px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  justify-content: start;
}

.navclick {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 380px;
  height: auto;
  margin-right: 20px;
}

.nav button {
  background: rgb(67, 39, 245);
  border-radius: 4px;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-left: 5px;
  padding: 0;
}

.nav h3 {
  color: rgb(99, 100, 101);
  font-family: Rubik-Regular;
  font-size: 19px;
  font-weight: normal;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.navclick h3 p {
  color: white;
  text-decoration: underline;
  display: inline;
}

@media (max-width: 400px) {
  .nav {
    width: 400px;
    height: 120px;
    display: block;
  }

  .nav h2 {
    height: 15px;
    padding-top: 20px;
  }

  .navclick {
    width: 360px;
  }
}
